<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="header :: common-header"></div>

    <div class="main-content">
        <h1 class="page-title">Oops! Something went wrong.</h1>
        <div class="error-message">
            <p th:text="${errorMessage}">An error occurred, but no message was provided.</p>
            <a class="back-button" th:href="@{/}">Go back to the homepage</a>
        </div>
    </div>
</body>
</html>
