<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Policies</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Policies</h1>

<a th:href="@{/policies/add}">Add Policy</a>
<table>
    <tr>
        <th>Policy Type</th>
        <th>Policy Name</th>
        <th>Monthly Premium</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="policy : ${policies}">
        <td th:text="${policy.policyType}">Type</td>
        <td th:text="${policy.policyName}">Name</td>
        <td th:text="${policy.monthlyPremium}">Premium</td>
        <td><a th:href="@{'/policies/edit/' + ${policy.policyId}}">Edit</a></td>
        <td><a th:href="@{'/policies/delete/' + ${policy.policyId}}">Delete</a></td>
    </tr>
</table>

<a th:href="@{/}">Back to Home</a>
</body>
</html>
